.container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 5% 5% 90%;
    gap: 1%;
}

.blog {
    grid-column: 1 / 5;
    grid-row: 1 / 4;
    padding: 2rem;
    border: .25rem solid rgb(255, 200, 197);
    border-radius: 2rem;
}

.about {
    grid-column: 5 / 7;
    grid-row: 1 / 2;
    margin-top: 10%;
    /* margin-left: 10%; */
    text-align: center;

    border-radius: 2rem;
}

#bio-img {

    width: 90%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0px 1px 5px #bababa;

}

#bio-descript {
    display:block;
    background-color: rgb(255, 200, 197);
    padding: 2rem;
    padding-top: 3rem;
    margin-top: -2rem;
    margin-left:1rem;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: 400;

}
.recipe-img {
    border-radius: 2rem;
    max-width: 80%;
    height: auto;
    display:block;
    margin: auto;
}

.recipe-card{
    background-color: rgb(255, 200, 197);
    padding: 1rem;
    padding-top: 3rem;
    border-radius: 2rem;
    color: darkslategray;
}

.title {
    text-align: center;
    font-weight: bolder;
    font-size: 1.5rem;
    line-height: 130%;
    color: rgb(86, 86, 86);
}

.cursive {
    text-align: center;
    font-weight: bolder;
    font-family: Brush Script MT;
    font-size: 2.5rem;
    line-height: 130%;
    color: rgb(86, 86, 86);
}
.subheader {
    font-weight: 600;
    font-size: 1.5rem;
    color: rgb(86, 86, 86);
}

li {
    color: darkslategray;
    line-height: 150%;
    font-weight: lighter;
    margin-block: 1rem;
}

.ingredients-supplies {
    border: .25rem solid #ffffff;
    padding: 1rem;
    border-radius: 2rem;
    line-height: 90%;
    color: darkslategray;
    font-weight: lighter;
    /* margin-block: 1rem; */
}

.recipe-step b {
    font-size: 1.25rem;
    font-weight: 600;
    color: rgb(86, 86, 86);
}


.recipe-nav {
    background-color: rgb(255, 200, 197);
    border: none;
    padding: .25rem;
    width: 100%;
    /* align-items: center; */
    /* text-align: center; */
    border-radius: 1rem;

}

.recipe-nav li {
    font-size: medium;
}