/* .container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 12.5%;
    gap: 1%;
} */

.blog {
    /* grid-column: 1 / 5;
    grid-row-start: 1; */
    padding: 4rem;
    border: .25rem solid rgb(255, 200, 197);
    border-radius: 2rem;
}

/* .about {
    grid-column: 5 / 7;
    grid-row: 1 / 2;
    margin-top: 10%;
    margin-left: 10%;
    overflow: hidden; */
    /* background-color: blueviolet; */
    /* padding: 1rem;
    background-color: #fffcee;
    border-radius: 2rem;
} */

.recipe-img {
    border-radius: 2rem;
    max-width: 80%;
    height: auto;

    display:block;
    margin: auto;
}

.recipe-card{
    background-color: rgb(255, 243, 222);
    padding: 1rem;
    padding-top: 3rem;
    border-radius: 2rem;
    color: darkslategray;
}

.title {
    text-align: center;
    font-weight: bolder;
    color: darkslategray;
}

li {
    color: darkslategray;
    line-height: 150%;
    font-weight: lighter;
    margin-block: 1rem;
}

.ingredients-supplies {
    border: .25rem solid #ffffff;
    padding: 1rem;
    border-radius: 2rem;
    line-height: 90%;
    color: darkslategray;
    font-weight: lighter;
    /* margin-block: 1rem; */
}

.recipe-step b {
    font-size: large;
    font-weight: 600;
}
