body {
    font-family: sans-serif;
}

main img {
    display: block;
    width:100%;
    border: 1em; 
    border-radius: 5%;
}

section {
    margin: 3%; 
    border: 0.2em dotted rgb(255, 50, 50); 
    background-color: rgb(230, 184, 181);
    border-radius: 10%;
    padding: 5%;
}


section ul {
    line-height: 200%;
    color : rgb(86, 86, 86);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:2%;
    
}

section ul li {
    list-style: none;
    background-color: white;
    border-radius: 15%;
    padding: 5%;
    text-align: center;

}

section ul li:hover {
    text-decoration: underline;
}

h3 {
    color : rgb(86, 86, 86);
    font-family: 'Courier New', Courier, monospace;
}

p {
    padding: 1em;
}

