h2 {
    color: coral;
}

.rec-title {
    font-family: 'ClassicDolly';
    font-size: 28pt;
    grid-column: 1 / 3;
    justify-self: center;
    text-align: center;
}

.restaurant-details {
    color: orangered;
    font-style: oblique;
    font-size: larger;
    grid-row: 2 / 3;
    justify-self: start;
    align-self: center;
}

.restaurant-address {
    font-size: small;
}

.rec-text {
    grid-column: 1 / 3;
}

@font-face {
    font-family: 'ClassicDolly';
    src: url('/fonts/ClassicDolly.otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.top-dishes h3{
    color: #f9564f;
    text-align: center;
    font-family: ClassicDolly;
} 

.top-dishes {
    border: 3px dotted #ffb3c6;
    border-radius: 1em;
    box-shadow: 0px 0px 10px #ff8fab;
    background-color: #fff3f6;
    margin: 1em;
    grid-column: 1 / 3;
}

.top-dishes li {
    list-style-type: '✨';
    padding-left: 1em;
    line-height: 200%;
    font-family: sans-serif;
    font-weight: lighter
}

article {
    border: 3px thin rgb(255, 171, 141);
    border-radius: 1em;
    margin-bottom: 2em;
    padding: 1em;
    box-shadow: 0px 0px 10px #f9564f;
    background-color: #fffcee;
}

img:not(#logo, #img-banner) {
    display: block;
    width: 90%;
    height: auto;
    border: 1px solid pink;
    padding: 5px;
    border-radius: 4px;
    margin: auto;
}

.recommendation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}