
/* header {
    background-image: url("assets/welcome_to_multi_cuisine.png");

} */

#img-banner {
    width: 100%;
    height: auto;
    margin-bottom: 5%;
}

#logo {
    margin: 2%;
    margin-left: 5%;
    /* margin-bottom: 5%;
    margin-top: 2%; */
} *

nav a:hover {
    color: rgb(255, 50, 50);
    
}

nav {
    border: 1px solid rgb(230, 184, 181);
    margin-top: 5%;
    width: 100%;
}

nav a {
    line-height: 150%;
    color: rgb(79, 61, 47);
    font-weight: bold;
    font-size: smaller;
    
    text-decoration: none;

}

nav li {
    text-align: center;
    display: inline;
    margin: 2.5%;
    list-style-type: none;
    list-style-position: center;
}

li {
    list-style-type: circle;
    list-style-position: center;
}

body {
    box-shadow: 1px 1px 10px #aaaaaa;
    margin: auto;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    width: 50%;

    font-family: sans-serif;
    background-color: white;
    
}

main {
    padding: 10%;
}

h1 {
    /* text-decoration: underline; */
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color : rgb(86, 86, 86);
    

}

p {
    line-height: 150%;
    color: darkslategray;
    font-weight: lighter;
}


footer {
    font-size: smaller;
    color: darkslategray;
    font-weight: lighter;
    padding: 2.5%
}

html {
    background-color: #FFE2CE;
}