
#img-banner {
    width: 100%;
    height: auto;
    margin-bottom: 5%;
}

#logo {
    margin: 2%;
    margin-left: 5%;
} 

nav a:hover {
    color: rgb(255, 255, 255);
    
}

nav {
    /* border: 1px solid rgb(230, 184, 181); */
    background-color: rgb(230, 184, 181);
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-top: 5%;
    width: 100%;
    text-align: center;
    font-size: 1.25rem;
}

nav a {
    line-height: 150%;
    color: rgb(79, 61, 47);
    font-weight: bold;
    font-size: smaller;
    
    text-decoration: none;

}

nav li {
    text-align: center;
    display: inline;
    margin: 2.5%;
    list-style-type: none;
    list-style-position: center;
}

body {
    box-shadow: 1px 1px 10px #aaaaaa;
    margin: auto;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    width: 70%;

    font-family: sans-serif;
    background-color: white;
    
}

main {
    padding: 10%;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color : rgb(86, 86, 86);
    

}

p {
    line-height: 150%;
    color: darkslategray;
    font-weight: lighter;
}


footer {
    font-size: smaller;
    color: darkslategray;
    font-weight: lighter;
    padding: 2.5%
}

html {
    background-color: #FFE2CE;
    scroll-behavior: smooth;
}

.preview-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.previews img {
    height: 10rem;
    width: 10rem;
    border-radius: 1rem;
    object-fit: cover;
}

.previews p{
    text-align: center;
    font-family: sans-serif;
    font-size: large;
    font-weight: 600;
}

.previews a {
    text-decoration: none;
}

.previews a:hover {
    text-decoration: underline;
    text-decoration-thickness: .25rem;
    text-underline-offset: .5rem;
    text-decoration-color: rgb(255, 135, 135);
    border-radius: 8px;

}